<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="login_index.html" method="get"></form>
        用户名：<input type="text" name="uname" value="" maxlength="6" placeholder="请输入用户名">
    <span>最大用户为8位</span>
        <p>
            密码 ：<input type="password" name = "upassword">
        </p>
        <p>用户性别：
                性别<input type="radio" name="gender" value="male" checked>男
                    <input type="radio" name="gender" value="female">女

        </p>
        <p>
            用户爱好：
            <input type="checkbox" name="hobby" value="smoke">抽烟
            <input type="checkbox" name="hovvy" value="drink">喝酒
            <input type="checkbox" name="hovvy" value="hothair">烫头
        </p>
        <p>
            上传文件：
            <input type="file" name="ufile" >
        </p>
        <p>
            选择省份：
            <select name="province">
                <option value="001">河北省</option>
                <option value="002">喝龙井</option>
                <option value="003">湖南省</option>
            </select>
        </p>
        <p>
            个性签名：
            <textarea name="uInfo" id="" cols="20" rows="10">

            </textarea>
        </p>
        提交按钮：
        <input type="submit" name="submit" value="">
        重置
        <input type="reset" name="uname" value="">
        普通按钮
        <input type="button" name="click" value="点击">
特殊用法：
        <lable for></lable>


</body>
</html>