<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">

    </style>
</head>
<body>
<br><br><br><br><br><br><br><br>
    <table border="1px" width="400px" height = "150px" align="center" cellpadding="5px" cellspacing="10px" bgcolor="#6495ed">
        <tr align="center" bgcolor="green" valign="top">
            <td>古力娜扎</td>
            <td>迪丽热巴</td>
            <td>马儿扎哈</td>
        </tr>
        <tr align="center">
            <td>华晨宇</td>
            <td>张艺兴</td>
            <td>吴亦凡</td>

        </tr>
        <tr align="center">
            <td>杨幂</td>
            <td>赵丽颖</td>
            <td>天宝</td>
        </tr>
    </table>


</body>
</html>